@tailwind base;
@tailwind components;
@tailwind utilities;

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.text-special {
  --first: hsl(32, 98%, 20%);
  --second: hsl(32, 98%, 40%);
  --third: hsl(32, 98%, 60%);

  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--first),
    var(--second),
    var(--third),
    var(--first)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
